button[aria-label="Show/Hide filters"],
button[aria-label="Show/Hide columns"] {
    display: none;
}

body {
    overflow: hidden;
}

header.MuiAppBar-root {
    background-color: #13044f;
}

.MuiTabScrollButton-root {
    width: 25px !important;
}

.cell-value {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100px;
    /* Set the maximum width here */
}