button[aria-label="Toggle full screen"],
button[aria-label="Show/Hide filters"],
button[aria-label="Show/Hide columns"] {
    display: none;
}

.MuiTextField-root {
    width: 295px;
}

body {
    overflow: hidden;
}

header.MuiAppBar-root {
    background-color: #13044f;
}

.MuiTabScrollButton-root {
    width: 25px !important;
}